
{% extends 'base.html' %}
{% load static %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}

{% block cart %}
active
{% endblock %}


<!-- {% block cart_count %}
{{length_of_items}}
{% endblock %} -->
{% load custom_filters %}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop/"">Shop</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img height="80" src="{{cart_item.product.image.url}}" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{cart_item.product.name}}</h6>
                                            <h5>$ {{ cart_item.product.price }}</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value={{cart_item.quantity}}>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price"></td>



                                    <td class="cart__close"> <a href="/removeitem/{{cart_item.id}}"><i class="fa fa-close"></i></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="#">Continue Shopping</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div>
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span id="subtotal">{% if length_of_items == 0 %}{% else %}$ {{totat_price.product__price__sum}}  {% endif %}</span></li>
                            <li>Total <span id="total">{% if length_of_items == 0 %}{% else %}$ {{totat_price.product__price__sum}}  {% endif %}</span></li>
                        </ul>
                        <a href="#" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

   

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Include jQuery library if not already included -->
<!-- Include jQuery library if not already included -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Your existing HTML and Django template code -->

<script>
$(document).ready(function() {
    // Function to update total price when quantity changes
    function updateTotalPrice(cartItemRow) {
        var quantity = parseInt(cartItemRow.find('.pro-qty-2 input').val()) || 0;
        var price = parseFloat(cartItemRow.find('.product__cart__item__text h5').text().replace('$', '')) || 0;
        var totalPrice = quantity * price;
        cartItemRow.find('.cart__price').text('$ ' + totalPrice.toFixed(2));

        // Update subtotal and total values
        var subtotal = 0;
        $('.cart__price').each(function() {
            subtotal += parseFloat($(this).text().replace('$', ''));
        });
        $('#subtotal').text('$ ' + subtotal.toFixed(2));
        $('#total').text('$ ' + subtotal.toFixed(2));
    }

    // Event listener for quantity input changes
    $('.pro-qty-2 input').on('input', function() {
        var cartItemRow = $(this).closest('tr');
        updateTotalPrice(cartItemRow);
    });

    // Initial calculation of total prices
    $('.pro-qty-2 input').each(function() {
        var cartItemRow = $(this).closest('tr');
        updateTotalPrice(cartItemRow);
    });
});
</script>

    

{% endblock %}